summary {
    display: block;
    padding-left: 1rem;
    position: relative;
    cursor: pointer;
}

details > summary:before {
    content: '';
    border-width: 0.4rem;
    border-style: solid;
    position: absolute;
    top: 0.3rem;
    left: 0;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
}

details.text-nft > summary:before {
    border-color: transparent transparent transparent #7553ff;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display: none;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}